div  
    h2 INICIA SESIÓN
                                    //if autenticado 
                                        p Usuario Autenticado 
                                    //else 
                                        p inicia sesion
                                    //h2 = autenticado 